/node_modules
/public/storage
/public/css/*
!/public/css/bootstrap.min.css
!/public/css/font-awesome.min.css
/public/js/*
!/public/js/bootstrap.min.js
/vendor
/.idea
bundle.css
Homestead.json
Homestead.yaml
.env
