body {
	background-image: url('../images/original/bg.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	background-attachment: fixed;
	background-color: #000;
	font-family: raleway;
	color: #eee;
}

body .mt-content {
	background-color: #0C1314;
	opacity: 0.95;
	padding-top: 80px;
	padding-bottom: 40px;
	min-height: calc(100vh - 118px);
}

.navbar.navbar-default {
	background-color: transparent;
	border-color: transparent;
	font-size: 16px;
	padding-top: 9px;
	transition: all 0.5s ease;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background: transparent;
	color: #eee;
	border-bottom: 2px solid #a86422;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #eee;
	border-bottom: 2px solid #a86422;
}

.navbar.navbar-default.navbar-no-trans,
.navbar.navbar-default.collapsed {
	background-color: rgb(35, 45, 46);
}

.navbar-default .navbar-brand {
    color: #eee;
    font-weight: 400;
}

.footer {
	border-top: 2px solid #314240;
	text-align: left;
	background: #182324;
	opacity: 0.95;
	padding: 26px 51px 70px;
}

.footer .footer-logo {
	height:17px;
	margin-bottom: 30px;
	vertical-align: middle;
}
.footer .ui.list {
	width:100%;
	margin-bottom: 20px;
}
.footer .ui.list .item {
	margin-left: 0.5em;
}
.footer .ui.list .item a .icon {
	color: #647183;
}
.footer .copyright {
	font-size: 14px;
	font-weight: 300;
	color: #98a6ba;
	text-align: right;
	/*text-transform: uppercase;*/
}

.h1, h1,
.h2, h2,
.h3, h3 {
	font-weight: 300;
}

a {
    color: #ed9512;
    text-decoration: none;
}

.title {
	margin-top: 35px;
	margin-bottom: 35px;
	font-weight: 500;
}

.form-control:focus {
	box-shadow: inset 0px 0px 0px rgba(0,0,0,.075),0px 0px 3px rgba(102,175,233,1)
}

.form-control {
	border-radius: 0;
	background-color: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: 1px;
	color: #d5d5d5;
}

.btn-flat {
	border-radius: 0;
}

.btn-line {
	background: transparent;
}
