body {
	background-color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	color: #333;
}

body .mt-content {
	background-color: #f5f5f5;
	opacity: 0.95;
	padding-top: 70px;
	padding-bottom: 20px;
	min-height: calc(100vh - 118px);
}

body .admin {
	background-color: #f5f5f5;
	opacity: 0.95;
	padding-top: 70px;
	padding-bottom: 20px;
	min-height: calc(100vh);
}

.content .block {
	margin-bottom: 16px !important;
}

.content .block-xs {
	margin-bottom: 0 !important;
}

.padding-none-bmk {
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 1px !important;
}

.navbar.navbar-default {
	background-color: #14191d;
	border-color: transparent;
	font-size: 16px;
	transition: all 0.5s ease;
}

.navbar-default .navbar-nav > li > a {
	border-bottom: 2px solid;
	border-bottom-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background: transparent;
	color: #EEE;
	border-bottom: 2px solid #a86422;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
	color: #EEE;
	border-bottom: 2px solid #a86422;
}

.navbar.navbar-default.navbar-no-trans,
.navbar.navbar-default.collapsed {
	background-color: #232D2E;
}

.navbar.navbar-default.navbar-highlight {
	min-height: 52px;
	background-color: #232D2E;
}

.navbar-default .navbar-brand {
	color: #EEE;
	font-weight: 400;
}

.footer {
	border-top: 2px solid #314240;
	text-align: left;
	background: #182324;
	opacity: 0.95;
	padding: 26px 51px 70px;
}

.footer .footer-logo {
	height:17px;
	margin-bottom: 30px;
	vertical-align: middle;
}
.footer .ui.list {
	width:100%;
	margin-bottom: 20px;
}
.footer .ui.list .item {
	margin-left: 0.5em;
}
.footer .ui.list .item a .icon {
	color: #647183;
}
.footer .copyright {
	font-size: 14px;
	font-weight: 300;
	color: #98a6ba;
	text-align: right;
	/*text-transform: uppercase;*/
}

.h1, h1,
.h2, h2,
.h3, h3,
.h4, h4,
.h5, h5,
.h6, h6 {
	font-weight: 300;
	margin: 0;
}

.h6 {
	font-size: 14px;
}

a {
	color: #5c90d2;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3169b1;
	text-decoration: none;
}

.text-gray {
	color: #c9c9c9;
}

.text-warning {
	color: #e49e36;
}

.text-ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
}

.title {
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 500;
}

.form-control {
	color: #646464;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all .15s ease-out;
	transition: all .15s ease-out;
}

#social-media > a {
	margin-right: 5px;
}

.alert {
	border-radius: 0px;
}

.btn-circle {
	border-radius: 50%;
	width: 48px;
	height: 48px;
	font-size: 20px;
	padding: 10px;
	text-align: center;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 0;
	border-radius: 0px;
}

.dropdown-menu {
	font-size: 15px;
}

.dropdown-menu > li > a {
	padding: 7px 20px;
}

.bg-black {
	background-color: #232c32 !important;
}

.bg-white {
	background-color: #ffffff !important;
}

.ribbon {
	position: relative;
	min-height: 56px;
}

.ribbon-danger .ribbon-box {
	background-color: #d26a5c;
}

.ribbon-left .ribbon-box {
	right: auto;
	left: 0;
}

.ribbon-box {
	position: absolute;
	top: 10px;
	right: 0;
	padding: 0 5px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	z-index: 500;
}

.ribbon-modern .ribbon-box {
	top: 0;
}

.ribbon-danger.ribbon-modern.ribbon-left .ribbon-box::before {
	border-color: #d26a5c;
	border-right-color: transparent;
	border-bottom-color: transparent;
}

.ribbon-danger.ribbon-modern .ribbon-box::before {
	border-color: #d26a5c;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.ribbon-left.ribbon-modern .ribbon-box::before {
	right: auto;
	left: 100%;
}

.ribbon-modern .ribbon-box::before {
	top: 0;
	right: 100%;
	border: 13px solid;
}

.ribbon-link {
	color: #EEE;
	transition: color .12s ease-out;
}

.ribbon-box::before {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	content: "";
}

.img-container {
	position: relative;
	overflow: hidden;
	z-index: 0;
	display: block;
	padding-top: 135%;
}

.img-container img.img-responsive {
	position: absolute;
	top: 0;
	width: 100%;
}

.img-container.ribbon .img-overlay:after {
	background-image: none;
}

.img-container .img-overlay {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: auto;
	bottom: 0;
	background-color: #1e1e1e;
	background-color: rgba(30,30,30,0.85);
	font-size: 1em;
	color: #A6A6A6;
	visibility: visible;
}

.img-container .img-overlay > a > h2.rf-title {
	color: #ed9512;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.34em;
	padding-top: 0.2em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	word-wrap: break-word;
}

.img-container .img-overlay > .rf-info > h4 {
	padding-bottom: 0.2em;
}

#lts-grp .nav-users > li {
	margin-bottom: 5px;
}

.chapter-list,
.nav-users {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-users > li {
	background-color: #fff;
}

.nav-users a {
	position: relative;
	padding: 12px 8px 8px 71px;
	display: block;
	min-height: 62px;
	font-weight: 600;
	border-bottom: 1px solid #f3f3f3;
}

.nav-users a:hover {
	background-color: #f9f9f9;
}

.nav-users a > img {
	position: absolute;
	left: 12px;
	top: 10px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
}

a.link-effect {
	position: relative;
	transition: color .12s ease-out;
}

a.link-effect:hover::before, a.link-effect:focus::before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

a.link-effect::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	content: "";
	background-color: #3169b1;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: -webkit-transform .12s ease-out;
	transition: transform .12s ease-out;
}

.chapter-list a {
	padding: 8px 8px 4px 10px;
	min-height: 30px;
}

.chapter-list .text-ellipsis {
	font-size: 14px;
	font-weight: normal;
}

.arf-small {
	font-size: 13px;
	color: #d26a5c;
}

.nav-pills > li > a {
	border-radius: 0px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
	color: #fff;
	background-color: #232d2e;
}

.collapse .nav.nav-pills.nav-stacked li > a,
.collapsing .nav.nav-pills.nav-stacked li > a {
	padding-left: 50px !important;
}

.page-grid {
	margin-top: 15px;
}

.page-grid > .page {
	width: 200px;
	float: left;
	height: 285px;
	padding: 5px;
}

.page-grid > .page > div {
	width: 100%;
	height: 100%;
	background-color: white;
}

.push-5-t {
	margin-top: 5px !important;
}

.font-s13 {
	font-size: 13px !important;
}
